<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <form enctype="multipart/form-data" action="/users/182" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="zvUE8_Z8vV3B8RezmikZ2sQrR5HS_p1cP-xMhh7TMezzS6fDjlTWFksfxrUmAcpzVp7UXsijzPwc6gNlTv1Aow" autocomplete="off">
      
      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="rika" name="user[name]" id="user_name">
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
</form>  </div>
</div>

      </div></main>



<h1>User info</h1>
<% if @user.errors.any? %>
  <%=@user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%=message %></li>
    <% end %>
  </ul>
<% end %>



 <%=form_with model: @user do |f| %>
    <label for="inputName">Name</label>
      <%=f.text_field:name,autofocus:true,id:"inputName",placeholder:"名前" %>
    <label for="inputImage">Image</label>
      <%=f.file_field:profile_image,placeholder:"プロフィール画像",accept:"image/*" %>
    <label for="inputIntroduction">Introduction</label>
      <%=f.text_field:introduction,autofocus:true,id:"inputIntroduction",placeholder:"自己紹介文" %>

    <div>
    <%=f.submit 'Update User' %>
    </div>
  <% end %>
