<% if flash[:sin] %>
  <p id="notice"><%=flash[:sin] %></p>
<% end %>

<% if flash[:in] %>
  <p id="notice"><%=flash[:in] %></p>
<% end %>

<% if flash[:upu] %>
  <p id="notice"><%=flash[:upu] %></p>
<% end %>

<%=render 'user.newbook',user:@user,book:@book %>

<%=render 'books/book',books:@books %>
