
<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><a href="/users/182">
            <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdXdCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--8c75a98d2a0895f642d100c199e27376f1513246/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg"><br>
            rika
</a>          </td>
          <td><a href="/books/127">1</a></td>
          <td>11</td>
            <td><a class="btn btn-sm btn-success edit_book_127" href="/books/127/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_127" rel="nofollow" data-method="delete" href="/books/127">Destroy</a></td>
        </tr>
      </tbody></table>
    </div>





<% if flash[:newb] %>
  <p id="notice"><%=flash[:newb] %></p>
<% end %>

<% if flash[:upb] %>
  <p id="notice"><%=flash[:upb] %></p>
<% end %>

<%=render 'users/user.newbook',user:@user,book:@book_new %>

<h1>Book detail</h1>
  <table>
        <tr>
          <td><%=image_tag @book.user.get_profile_image(40,40) %></td>
          <td rouwspan="2"><%=@book.title %></td>
          <td rouwspan="2"><%=@book.body %></td>
          <% if @book.user==current_user %>
          <td rouwspan="2">
              <%=link_to "Edit",edit_book_path(@book) %>
          </td>
          <td rouwspan="2">
              <%=link_to "Destroy",book_path(@book),method: :delete %>
          </td>
          <% else %>
            <td rouwspan="2"></td>
            <td rouwspan="2"></td>
          <% end %>
        </tr>
        <tr>
          <td><%=@book.user.name %></td>
        </tr>
  </table>
